@model IEnumerable<FastFoodSystem.Models.Refeicao>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Refeições</h2>

<p>
    @Html.ActionLink("Adicionar Refeição", "Create", null, new { @class = "btn btn-primary btn-lg" })
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            @*<td>
                    @Html.ActionLink("Editar", "Edit", new { id=item.IdRefeicao }, new { @class = "btn btn-primary btn-sm" }) |
                    @Html.ActionLink("Remover", "Delete", new { id=item.IdRefeicao }, new { @class = "btn btn-primary btn-sm" })
                </td>*@
            <td></td>
        </tr>
    }

</table>
