@model FastFoodSystem.Models.Pedido

@{
    ViewBag.Title = "Create";
}
<br />
<h2 class="justify-content-center"> Novo pedido</h2></br>
<div class="container h-100">
    
    <div class="row h-100">
        


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Pedido</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @*Cpf*@
                <div class="form-group">
                    @Html.LabelFor(model => model.Cliente.Cpf, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Cliente.Cpf, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cliente.Cpf, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*Nome*@
                <div class="form-group">
                    @Html.LabelFor(model => model.Cliente.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Cliente.Nome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cliente.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*Id Refeição*@
                <div class="form-group">
                    @Html.LabelFor(model => model.Refeicao.IdRefeicao, "RefeicaoList", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-xs-12">
                        @Html.DropDownListFor(model => model.Refeicao.IdRefeicao, (IEnumerable<SelectListItem>)ViewData["RefeicaoList"], "--Select--", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Refeicao.IdRefeicao, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* Forma de Pagamento*@
                <div class="form-group">
                    @Html.LabelFor(model => model.FormaPag, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.FormaPag, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FormaPag, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*IdStatus*@
                <div class="form-group">
                    @Html.LabelFor(model => model.StatusPedido.IdStatus, "StatusList", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-xs-12">
                        @Html.DropDownListFor(model => model.StatusPedido.IdStatus, (IEnumerable<SelectListItem>)ViewData["StatusList"], "--Select--", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.StatusPedido.IdStatus, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-lg-12">
                        <input type="submit" value="Finalizar Pedido" class="btn btn-outline-danger" />
                    </div>
                </div>
            </div>
        }
        </div>
        <div class="align-items-center">
            @Html.ActionLink("Voltar a pagina anterior", "Index")
        </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
