@model IEnumerable<FastFoodSystem.Models.Pedido>

@{
    ViewBag.Title = "Index";
}
<br />
<h2>Pedidos</h2>

<p>
    @Html.ActionLink("Efetuar novo Pedido", "Create", null, new { @class = "btn btn-primary btn-lg" })
</p>
<h4>Ultimos pedidos efetuados</h4>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Refeicao.IdRefeicao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Refeicao.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Refeicao.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormaPag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusPedido.IdStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusPedido.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Refeicao.IdRefeicao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Refeicao.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Refeicao.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormaPag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusPedido.IdStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusPedido.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPedido }, new { @class = "btn btn-primary btn-sm" }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPedido }, new { @class = "btn btn-primary btn-sm" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPedido }, new { @class = "btn btn-primary btn-sm" })
        </td>
    </tr>
}

</table>
