<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Fast Food System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{
        var controllerName = ViewContext.RouteData.Values["controller"].ToString();
        var controllerName2 = ViewContext.RouteData.Values["controller"].ToString();
        var actionName = ViewContext.RouteData.Values["controller"].ToString(); }

    @if (controllerName != "Cliente" && controllerName != "Refeicao")
    {

        <nav class="navbar navbar-expand-lg navbar-primary bg-light fix fixed-top">
            <div class="container">
                @Html.ActionLink("FastFood System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                @Html.ActionLink("Administrativo", "Index", "Home", null, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Efetuar Pedido", "Index", "Pedido", null, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Consultar Pedido", "Index", "Consulta", null, new { @class = "nav-link" })
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
        </nav>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer style="text-align:center;">
                <p>&copy; @DateTime.Now.Year - Sistema para gerenciamento de Redes de Fast Food - Projeto de atividade <a href="#">5by5</a> desenvolvido por: <a href="https://github.com/rick9141">Rick</a> e <a href="https://github.com/mgbatista">Maiara</a></p>
            </footer>
        </div>
    }
    else
    {
        <div class="container body-content">
            @RenderBody()
        </div>
    }
    @Scripts.Render("~/Custom/js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
